<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price</title>
</head>
<body>
    <h1 style="color: blueviolet; text-align: center;">
        Car Selling Price
    </h1>
    <br>
    <h3 style="color: rgb(9, 152, 78); text-align: center;">
        Your Selling Price for the Car is {{ p }}
    </h3>
    <br>
    <p style="color: rgb(6, 5, 66);text-align: center;">
        @Gajender@2023
    </p>

</body>
</html>